.homeDropdown-container {
  border: 1px solid var(--gray-color);
  padding: 80px 80px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  position: absolute;
  background-color: white;
  z-index: 10;
  margin-left: 50px;
  width: 60%;
}
.dropDownList {
  list-style-type: none;
}
.dropDownTitle {
  color: var(--gray-color);
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 20px;
}
.brands {
  display: flex;
  grid-gap: 40px;
  flex-wrap: wrap;
}
.brands img {
  object-fit: contain;
}
.brands img:hover {
  color: black;
}
.shopDropdown-container {
  border: 1px solid var(--gray-color);
  padding: 80px 80px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  position: absolute;
  background-color: white;
  z-index: 10;
  margin-left: 50px;
  width: 80%;
  margin-right: 50px;
}
.shopImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}
.blog-dropdown-container {
  border: 1px solid var(--gray-color);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  position: absolute;
  left: 625px;
  background-color: white;
  z-index: 10;
  margin-left: 50px;
  width: 20%;
}
.product-dropdown-container {
  border: 1px solid var(--gray-color);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  position: absolute;
  left: 525px;
  background-color: white;
  z-index: 10;
  margin-left: 50px;
  width: 20%;
}
.pages-dropdown-container {
  border: 1px solid var(--gray-color);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  position: absolute;
  left: 700px;
  background-color: white;
  z-index: 10;
  margin-left: 50px;
  width: 20%;
}
