h1 {
  text-align: center;
  padding-top: 100px;
}
.blogSearch {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
  text-transform: uppercase;
  padding: 40px;
  justify-content: flex-start;
  margin-left: 240px;
  text-transform: uppercase;
}

<<<<<<< HEAD
p {
  text-align: center;
=======

p{
    text-align: center;
>>>>>>> 094ef324764f3798ec97e809067864a9963923e3
}
