h1 {
  text-align: center;
  padding-top: 100px;
}
.blogSearch {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
  text-transform: uppercase;
  padding: 40px;
  justify-content: flex-start;
  margin-left: 240px;
  text-transform: uppercase;
}


p{
    text-align: center;
}
