.contact-customers {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  padding: 150px 15%;
}
.existing-customers {
  /* padding: 110px 0 0; */
}
.new-customers {
}
.customerFullName {
  display: flex;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.customerPara {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--gray-color);
  text-align: left;
}
.customerInput {
  border: 2px solid transparent;
  border-bottom: 1px solid var(--gray-color);
  padding: 10px 0px;
  width: 100%;
  margin: 10px 0px;
}
.customerInput:focus {
  outline: transparent;
  border-bottom: 1px solid black;
}
.forgotPass {
  display: block;
  text-align: right;
  padding: 10px 0px;
  color: var(--gray-color);
}

.forgotPass:hover {
  cursor: pointer;
  color: black;
}

button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  position: relative;
  top: 25px;
  padding: 10px 10px;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .contact-customers {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 50px 5%;
  }
}
