
.carousel-container{
    position: relative;
    margin: 0px 50px;
    height: 800px;
}

.carousel-1-container{
    padding: 100px 80px;
    overflow: hidden;
}

.slider-1-image{
    position: absolute;
    bottom: 0px;
    right: 10%;
    height: 90%;
    z-index: -1;
}

.slider-2-image{
    position: absolute;
    bottom: 25%;
    right: 10%;
    height: 50%;
    z-index: -1;
}

.slider-3-image{
    position: absolute;
    bottom: 30%;
    right: 10%;
    height: 40%;
    z-index: -1;
}

.small-subtitle{
    color: var(--primary-color);
    padding-bottom: 30px;
}

.carousel-title{
    font-family: var(--title-font);
    font-size: 4rem;
    padding-bottom: 30px;
    width: 400px;
}

.carousel-paragraph{
    color: var(--gray-color);
    font-size: 1.3rem;
    padding-bottom: 30px;
    width: 450px;
}

.carousel-1-buttons{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}

.carousel-1-button{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    font-weight: 500;
    border: none;
}

.carousel-3-button{
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 20px;
    font-weight: 500;
}

.carousel-1-button:hover{
    cursor: pointer;
}

.play-button{
    font-size: 3rem;
    display: flex;
    align-items: center;
}


.play-button:hover{
    cursor: pointer;
}

.play-button span{
    font-size: 1.2rem;
    width: 100px;
}

.carousel-state-buttons{
    display: flex;
    align-items: center;
    color: var(--gray-color);
    position: absolute;
    bottom: 30px;
}

.carousel-state-counter{
    border: none;
    background-color: transparent;
    color: var(--gray-color);
    padding: 5px 10px;
    font-size: 1.0rem;
    transition: all .5s;
    font-weight: 500;
}

.carousel-state-counter:hover{
    color: black;
}


.green-price {
    color: #690;
    font-size: 48px;
  }

  .product-journal-instagram-wrapper{
    background-color: white;
    border-bottom: 1px solid var(--gray-color);
  }
  