.aboutTitle {
  font-family: var(--title-font);
  font-size: 4rem;
  padding-bottom: 30px;
}
.aboutPara {
  color: var(--gray-color);
  font-size: 1.3rem;
  padding-bottom: 30px;
}

.aboutDuratan {
  padding: 100px 80px;
}
.materials,
.freeShipping,
.securePayment {
  padding: 100px 80px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* justify-content: space-around; */
  padding: 20px 0px;
  border-bottom: 1px solid rgb(215, 207, 207);
  /* flex-wrap: wrap; */
}

.image-container img {
  object-fit: contain;
  opacity: 0.5;
  transform: scale(1.5);
  justify-self: center;
  align-self: center;
}
.image-container img:hover {
  opacity: 1;
}

.about-container {
  background-color: white;
  margin-left: 6%;
  overflow: hidden;
}

.qualityMaterials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
}
.quality-materials-left {
  display: flex;
  grid-gap: 50px;
  flex-direction: column;
}

.quality-materials-right img {
  width: 150%;
  position: relative;
  left: 200px;
}
.quality-materials-right {
  display: flex;
  flex-direction: column;
  grid-gap: 70px;
}
.quality-material-item {
  display: flex;
  flex-direction: row;
  grid-gap: 50px;
}
.quality-material-item h3 {
  font-family: var(--title-font);
  font-size: 1.8rem;
}
.quality-material-item p {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .image-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .image-container img {
    transform: scale(0.8);
  }
  .qualityMaterials {
    grid-template-columns: 1fr;
  }
  .quality-materials-right img {
    width: 100%;
    position: relative;
    left: 0px;
  }
  .quality-materials-right {
    padding: 30px 0px;
    grid-gap: 20px;
  }
  .aboutTitle {
    font-size: 2rem;
  }
}
