.our-products-container {
  font-family: var(--title-font);
  padding: 50px 0px;
}

.our-products-title{
  font-size: 3rem;
  padding: 30px 8%;
}

.our-products-links{
  padding: 10px 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid gray;
}
button:active {
  background-color: var(--primary-color);
  width: 60px;
}
span {
  visibility: hidden;
} */

.our-products-carousel-item{
  width: 380px;
}

.our-products-carousel{
  padding: 30px 6%;
}

@media screen and (max-width:992px){
  .allProducts{
    display:none;
  }
}