.searchPopUp {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: 100;
  padding: 50px 100px;
}
.closeSearch {
  background-color: transparent;
  color: black;
  border: none;
  position: relative;
  left: 95%;
  font-size: 1.2rem;
}
.searchInput {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 6px 0px;
}
.search {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
  text-transform: uppercase;
  padding: 40px;
  justify-content: center;
}
.search li:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.title {
  font-family: var(--title-font);
  font-size: 1.5rem;
}
.cardItem {
  width: 250px;
}
.cardItem img {
  width: 100%;
}
.cards-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  padding: 20px 0px;
}
.sub-title {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 1rem;
  padding: 40px 0px 0px 0px;
  text-transform: uppercase;
}
.popUpBtn {
  display: block;
  margin: auto;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.5s;
}
.popUpBtn:hover {
  background-color: black;
  color: white;
}
