* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
}

body {
  width: 100%;
  overflow: hidden;
  background-color: rgb(242, 232, 232);
}

:root {
  --primary-color: #928656;

  --gray-color: #999;

  --title-font: "Marcellus", serif;
}
