*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  overflow-x: hidden;
}

:root{
  --primary-color:#928656;

  --gray-color:#999;


  --title-font: 'Marcellus', serif;
}
